{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="base template">
    <meta name="keywords" content="" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <script defer
            src="https://cdn.jsdelivr.net/npm/@alpinejs/mask@3.x.x/dist/cdn.min.js"></script>
    <script defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>
      {% block title %}
      {% endblock title %}
    </title>
  </head>
  <body>
    {% block body %}
    {% endblock body %}
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/validation.js' %}"></script>
  </body>
</html>
